.footer {
  bottom: 0;
  z-index: 2;
  position: fixed;
  text-align: center;
  width: 98%;
  background-color: rgba(0, 0, 0, .1);
  a {
    color: black;
  }
  a:hover {
    text-transform: uppercase;
  }
}
