form {
  margin: 10px;
  & > * {
    margin: 5px;
  }
}

input[type=email] {
  padding: 5px;
  border-radius: 5px;
  border: 0;
  &:focus {
    outline: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,1);
  }
}

input[type=submit] {
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  border: 0;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  &:hover {
    background-color: white;
    color: black;
  }
}
